* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.carousel-container {
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
  }
  

.card {
    
    flex-shrink: 0;
    margin: 20px 10px;
    transition: .8s ease-in;
}

button {
    border: 0;
    background-color: rgba(0, 0, 0, 0) ;
}

.btn-right {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 20;
}

.btn-left {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 20;
}